name: Publish MCP

on:
  release:
    types:
      - published

concurrency: ${{ github.workflow }}-${{ github.ref }}

defaults:
  run:
    working-directory: ./mcp

permissions:
  id-token: write # Needed for provenance
  packages: write # Needed to publish package to GitHub package registry
  contents: read # Needed for publishing to JSR

jobs:
  publish:
    name: Publish
    if: startsWith(github.event.release.tag_name, 'mcp-v') && github.event.release.draft == false && github.event.release.prerelease == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout release tag
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: ./mcp/package.json
          cache-dependency-path: ./mcp/package-lock.json
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish to npm
        run: npm publish --provenance --access public

      - name: Log in to GitHub Container Registry
        if: steps.publish.outputs.published == 'true'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Extract short Git SHA
        if: steps.publish.outputs.published == 'true'
        run: echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build the Docker image
        if: steps.publish.outputs.published == 'true'
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/mcp:latest \
                       -t ghcr.io/${{ github.repository_owner }}/mcp:${{ env.GIT_SHA }} .

      - name: Push the images
        if: steps.publish.outputs.published == 'true'
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/mcp:latest
          docker push ghcr.io/${{ github.repository_owner }}/mcp:${{ env.GIT_SHA }}
