name: Publish Typescript SDK

on:
  release:
    types:
      - published

concurrency: ${{ github.workflow }}-${{ github.ref }}

defaults:
  run:
    working-directory: ./typescript

permissions:
  id-token: write # Needed for provenance
  packages: write # Needed to publish package to GitHub package registry
  contents: read # Needed for publishing to JSR

jobs:
  publish:
    name: Publish
    if: startsWith(github.event.release.tag_name, 'typescript-v') && github.event.release.draft == false && github.event.release.prerelease == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout release tag
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: ./typescript/package.json
          cache-dependency-path: ./typescript/package-lock.json
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish to npm
        run: npm publish --provenance --access public

      - name: Setup Node.js for GitHub Packages
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ./typescript/package.json
          cache: npm
          cache-dependency-path: ./typescript/package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@sumup'

      - name: Publish to GitHub Packages
        env:
          NODE_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: npm publish --provenance --access public

      - name: Publish to JSR
        run: npx jsr publish
